@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------------------------------------
   BASE STYLES
   - Global styles for HTML tag selectors
---------------------------------------------------------------------------- */
@layer base {
  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/fonts/Inter-roman.var.woff2?v=3.19') format('woff2');
  }

  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 400;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/IBMPlexSerif-Regular.woff2') format('woff2');
  }

  @font-face {
    font-family: 'IBM Plex Serif';
    font-weight: 500;
    font-display: swap;
    font-style: normal;
    src: url('/fonts/IBMPlexSerif-Medium.woff2') format('woff2');
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-serif font-medium;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  hr {
    @apply border-black;
  }

  .label {
    @apply font-medium text-gray-900;
  }

  .input {
    @apply block w-full rounded-lg border-gray-300 text-sm placeholder:text-gray-400 focus:border-gray-900 focus:ring-0;
  }

  input[type='checkbox'] {
    @apply rounded border-black text-pink-600 focus:ring-pink-600;
  }
}

/* ----------------------------------------------------------------------------
   COMPONENTS
   - Prefix all component styles with cb-(cookbase)
---------------------------------------------------------------------------- */
@layer components {
  .box {
    @apply rounded-xl border bg-white shadow-sm;
  }

  .text-link {
    @apply text-pink-600 underline-offset-2 hover:underline;
  }

  .text-link--danger {
    @apply text-red-600;
  }
}

/* ----------------------------------------------------------------------------
   UTILITIES
   - When Tailwinds utility classes is not enough
---------------------------------------------------------------------------- */
@layer utilities {
  /* Utility styles here */
}

/* ----------------------------------------------------------------------------
   TIPTAP STYLES
   - The styles for rendering the content in the editor and on the recipe page
---------------------------------------------------------------------------- */

.tiptap:first-child > * {
  @apply mt-0;
}

.tiptap h2 {
  @apply mb-2 mt-4;
}

.tiptap p {
  @apply my-2 leading-relaxed;
}

.tiptap ul li,
.tiptap ol li {
  @apply my-2;
}

.tiptap ul {
  @apply list-disc pl-3;
}

.tiptap ul li {
  padding-inline-start: 14px;
}

.tiptap ol {
  @apply list-decimal pl-4;
}

.tiptap ol li {
  padding-inline-start: 10px;
}

.tiptap ul li {
  list-style-type: '→';
}

.tiptap li p {
  @apply inline;
}

.tiptap li::marker {
  @apply font-semibold text-gray-400;
}
