@tailwind base;
@tailwind components;
@tailwind utilities;

/* ----------------------------------------------------------------------------
   BASE STYLES
   - Global styles for HTML tag selectors
---------------------------------------------------------------------------- */
@layer base {
  @font-face {
    font-family: 'Recursive';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('/Recursive.woff2') format('woff2');
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-medium text-gray-900 dark:text-gray-100;
  }

  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-lg;
  }

  h3 {
    @apply text-base;
  }

  strong {
    @apply font-medium;
  }

  hr {
    @apply border-gray-900 dark:border-gray-800;
  }

  input[type='text'],
  input[type='password'],
  input[type='number'],
  input[type='email'] {
    @apply border-black text-sm dark:border-gray-700 dark:bg-gray-800 dark:bg-opacity-30 max-w-md;
  }
}

/* ----------------------------------------------------------------------------
   COMPONENTS
   - Prefix all component styles with cb-(cookbase)
---------------------------------------------------------------------------- */
@layer components {
  .box {
    @apply bg-white border border-black dark:border-gray-700 shadow-flat dark:bg-gray-800;
  }

  .text-link {
    @apply text-pink-600 underline-offset-2 hover:underline dark:text-pink-400;
  }

  .text-link--danger {
    @apply text-red-600 dark:text-red-400;
  }
}

/* ----------------------------------------------------------------------------
   UTILITIES
   - When Tailwinds utility classes is not enough
---------------------------------------------------------------------------- */
@layer utilities {
  /* Utility styles here */
}
